* {
	overflow: hidden;
}
.container {
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 841px;
	margin: auto;
}
.profile_container {
	width: 300px;
	margin: 130px auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.header {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	/*background-color: #dedede;*/
	text-align: center;
	border-bottom: 1px solid #b0b0b0;
	height: 50px;
	color: #505050;
	text-shadow: 0 1px 0 #ffffff;
	font-family: Helvetica;
	font-size: 18px;
	height: 44px;
	background: rgb(230,230,230); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(212,212,212,1) 56%, rgba(209,209,209,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(56%,rgba(212,212,212,1)), color-stop(100%,rgba(209,209,209,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(212,212,212,1) 56%,rgba(209,209,209,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(212,212,212,1) 56%,rgba(209,209,209,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(212,212,212,1) 56%,rgba(209,209,209,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(212,212,212,1) 56%,rgba(209,209,209,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}
.header p {
	margin-top: 12px
}
.profile_info {
	background-color: #ffffff;
	overflow: hidden;
}
.icon {
	height: 103px;
	width: 100px;
	float: left;
}
.icon .green {
	width: 70px;
	height: 70px;
	background-color: #109e03;
	position: relative;
	top: 19px;
	left: 20px;
}
.profile_container .profile {
	float: right;
	width: 190px;
	font-family: Helvetica;
}
.profile_container .profile .name {
	color: #3b3b3b;
	font-size: 18px;
	margin-bottom: 2px;
}
.profile_container .profile .title {
	color: #737373;
	font-size: 13px;
	margin-top: 0px;
}
.stats {
	background-color: #ffffff;
	overflow: hidden;
	border-top: 1px solid #b0b0b0;
}
.stats .block {
	float: left;
	width: 100px;
	text-align: center;
	color: #383838;
	font-family: Helvetica;
	font-size: 12px;
	margin: 17px 0 5px 0;
}
.stats .block h2 {
	color: #ff4824;
	font-size: 22px;
}
