
body{
  background-color: #eee;
  font-family: georgia;
}

.container{
  width: 700px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
}
label{
	display: block;
	margin-top: 20px;
}
input{
	font-family: georgia;
	padding: 10px;
	border: 1px solid black;
}
textarea{
	border: 1px solid black;
}
