body{
  background-color: #eee;
}

.container{
  width: 700px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  font-family: arial, sans-serif;
  border-radius: 2em;
}

.container header, section h1, h2, h3{
	text-align: center;
}

.container section p, ul, li{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.container header h1{
	text-shadow: 1px 1px LightGray;
}

.sale{
	text-align: center;
}
.border{
	border: 1px dotted;
	border-radius: 1em;
}