
body{
  background-color: #eee;
}

.container{
  width: 700px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
}

p{
	color: Pink;
	line-height: 2em;
	letter-spacing: 5em;
	text-align: right;
	text-decoration: underline;
	text-transform: uppercase;
}